.overlap-heading {
    color: red;
}

.slot {
    float: left;
    padding: 9px;
    border: 1px solid rgba(255, 152, 0, 0.87);
    font-size: 14.3px;
    word-wrap: break-word;
    background: #FFEE58;
}

.fc-day-grid .fc-content-skeleton td:last-child{
    width: 0px;
}

.fc-day-grid .fc-content-skeleton td{
    word-wrap: break-word;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
    color: red;
}